
.container{
    padding: 10px 5%;
    padding-bottom: 80px;
  }
  .container .heading{
    text-align: center;
    padding-bottom: 50px;
    color: #0083cb;
    font-size: 40px;
    transition: 2s linear;
    gap:50px;
    padding:30px 0;
  }
  .container .boxcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap:25px;
  }

  .container .boxcontainer .box{

    border-style: solid;
    border-color: #0083cb;
    border-radius: 2px;
    text-align: center;
    padding: 10px 20px;
    gap: 50px;
  }

  .container .boxcontainer .box h3{
    color:#0083cb;
    font-size: 19px;
    padding:10px 0;
  }
  .container .boxcontainer .box p{
    color: black;
    font-size: 15px;
    line-height: 1.8;
  }

  .container .boxcontainer .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:white;
    color: #0083cb;
    font-size: 17px;
    border-radius: 50px;
    padding: 8px 25px;
  }
  .container .boxcontainer .box .btn:hover{ 
    letter-spacing: 1px;
  }
  .container .boxcontainer .box:hover{
    box-shadow: 0 10px 15px rgbs(0,0,0,.3);
    transform: scale(1.03);
  }
  @media(max-width:768px){
    .container{
        padding:20px;  
      }
    .container.boxcontainer.box h3{
      font-size:1rem;
    }
    .container .boxcontainer .box p{
      font-size:12px;
    }
    .container .heading{
      font-size:1.7rem;
      padding:12px;
    }
    .heading{
      padding-bottom: 5px;
    }
  }
  @media(max-width:468px){
    .container.boxcontainer.box h3{
      font-size:10px;
    }
  }
  @media(max-width:376px){
    .container.boxcontainer.box h3{
      font-size:10px;
    }
    
  }

  .boxcontainer{
    border-style: solid;
    border-color: #0083cb;
    border-radius: 2px;
    text-align: center;
    padding: 10px 20px;
    gap: 50px;
  }


  /* // Slicer */

  
/* Slice styles */
.slicer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
  }
  
  .slicer .slice {
     background: url('/The_foundax_company//public//photo1.jpg') no-repeat center / cover;
    border-radius: 2px;
    background: #0083cb;
    text-align: center;
    padding: 100px 100px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bolder;
  }
  
  .slicer .slice h4 {
    color: #fff;
    font-size: 35px;
  }
  
  .slicer .slice p {
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
  }
  
  @media screen and (max-width: 768px) {
    .slicer .slice {
      padding: 30px;
    }
  
    .slicer .slice h4 {
      font-size: 25px;
    }
  
    .slicer .slice p {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .slicer .slice {
      padding: 20px;
    }
  
    .slicer .slice h4 {
      font-size: 20px;
    }
  
    .slicer .slice p {
      font-size: 14px;
    }
  }
  
