/* WebTech.module.css */

.slicer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    padding: 20px;
  }
  
  .slice {
    border-radius: 2px;
    background: #0083cb;
    text-align: center;
    padding: 100px 100px;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  
  .slice h4 {
    color: #fff;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0;
  }
  
  .slice p {
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'Quicksand', sans-serif;
  }
  
  @media screen and (max-width: 768px) {
    .slice {
      padding: 30px;
    }
  
    .slice h4 {
      font-size: 25px;
    }
  
    .slice p {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .slice {
      padding: 20px;
    }
  
    .slice h4 {
      font-size: 20px;
    }
  
    .slice p {
      font-size: 14px;
    }
  }
  
 /* WebTech.module.css */

.container {
    padding: 30px 0;
  }
  
  .heading {
    text-align: center;
    padding-bottom: 50px;
    color: #0083cb;
    font-size: 35px;
    transition: 2s linear;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  
  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the boxes */
    gap: 25px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; /* Added padding for responsiveness */
  }
  
  .box {
    border: 2px solid #0083cb;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
    width: calc((100% - 50px) / 3); /* Adjusted width for three boxes per row with gap */
    max-width: 270px; /* Set max-width to prevent boxes from stretching too much */
  }
  
  .box h3 {
    color: #0083cb;
    font-size: 19px;
    padding: 10px 0;
    font-family: 'nunito', sans-serif;
  }
  
  .box p {
    color: black;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
  }
  
  .box .btn:hover {
    letter-spacing: 1px;
  }
  
  .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
  }
  
  .gradient {
    position: relative;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    background: linear-gradient(180deg, #0083cb 0%, rgba(109, 195, 243, 0.782222) 67%, rgba(100, 199, 252, 0.609) 75.5%, rgba(117, 203, 250, 0.58) 81%, rgba(15, 163, 243, 0.58) 96.24%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay h2 {
    color: #fff;
    text-align: center;
    left: 15px;
    padding: 15% 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 5px;
  }
  
  .bn {
    position: absolute;
    bottom: 170px;
    right: 44%;
    margin-left: 50px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #0083cb;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .overlay h2 {
      font-size: 1.3rem;
    }
  
    .bn {
      font-size: 13px;
      bottom: 15%;
    }
  
    .gradient {
      display: none;
    }
  
    .box {
      width: calc((100% - 50px) / 2); /* Adjusted width for two boxes per row with gap */
    }
  }
  
  @media screen and (max-width: 480px) {
    .overlay h2 {
      font-size: 1.1rem;
    }
  
    .bn {
      font-size: 12px;
      bottom: 50px;
    }
  
    .box {
      width: 100%; /* Full width for single column layout */
    }
  }
  